<footer>
    <section>
        <article>
            <nav class="nav-footer">
                <ul class="lista-categorias">
                    <li><a href="/products">Categorías <i class="fa-solid fa-angle-down" style="font-size:medium;"></i></a>
                        <ul class="lista-footer">
                            <li><a href="/products/bebidas">Bebidas</a></li>
                            <li><a href="/products/almacen">Almacén</a></li>
                            <li><a href="/products/lacteos">Lacteos</a></li>
                            <li><a href="/products/limpieza">Limpieza</a></li>
                            <li><a href="/products/higiene">Higiene</a></li>
                            <li><a href="/products/verduleria">Verduleria</a></li>
                            <li><a href="/products/carnes">Carnes</a></li>
                        </ul>
                    </li>

                    <li><a href="">Servicio al cliente <i class="fa-solid fa-angle-down"
                                style="font-size:medium;"></i></a>
                        <ul class="lista-footer">
                            <li><a href="">Términos y condiciones</a></li>
                            <li><a href="">Búsqueda avanzada</a></li>
                            <li><a href="">Pedidos y devoluciones</a></li>
                            <li><a href="">Contáctanos</a></li>
                        </ul>
                    </li>
                    <li><a href="">Sobre Smart Market <i class="fa-solid fa-angle-down"
                                style="font-size:medium;"></i></a>
                        <ul class="lista-footer">
                            <li class="ultimo-li"><a href="">Convertí las compras del mes en tu momento favorito.
                                    Nos enfocamos en solucionar tus necesidades, evitando que te muevas de tu casa.
                                    #HacemosTiending</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </article>
    </section>
    <p>Copyright © 2022 Smart Market</p>
</footer>
