<footer>
    <section>
        <article>
            <nav class="nav-footer">
                <ul class="lista-categorias">
                    <li><a href="/productos/categorias">Categorías <i class="fa-solid fa-angle-down" style="font-size:medium;"></i></a>
                        <ul class="lista-footer">
                            <li><a href="/productos/categoria/bebidas">Bebidas</a></li>
                            <li><a href="/productos/categoria/almacen">Almacén</a></li>
                            <li><a href="/productos/categoria/lacteos">Lacteos</a></li>
                            <li><a href="/productos/categoria/limpieza">Limpieza</a></li>
                            <li><a href="/productos/categoria/higiene">Higiene</a></li>
                            <li><a href="/productos/categoria/verduleria">Verduleria</a></li>
                            <li><a href="/productos/categoria/carnes">Carnes</a></li>
                    
                        </ul>
                    </li>

                    <li><a href="">Servicio al cliente <i class="fa-solid fa-angle-down"
                                style="font-size:medium;"></i></a>
                        <ul class="lista-footer">
                            <li><a href="">Términos y condiciones</a></li>
                            <li><a href="">Búsqueda avanzada</a></li>
                            <li><a href="">Pedidos y devoluciones</a></li>
                            <li><a href="">Contáctanos</a></li>
                        </ul>
                    </li>
                    <!-- <li class='sobre-smart'>Sobre Smart Market <i class="fa-solid fa-angle-down"
                                style="font-size:medium;"></i>
                        <ul class="lista-footer">
                            <li class="ultimo-li">Convertí las compras del mes en tu momento favorito.
                                    Nos enfocamos en solucionar tus necesidades, evitando que te muevas de tu casa.
                                    #HacemosTiending
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </article>
    </section>
    <p>Copyright © 2022 Smart Market</p>
</footer>
