<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Agregar productos</title>
</head>
<body>

    <%- include ('./partials/header') %> 
    <main>

        
        <form action="/" method="post">

            <label> Agregar Producto </label>
            <input type="text" name="nombreProductos">
            <label> Foto del Producto </label>
            <input type="imagen" name="imagen">



        </form>



    </main>



<%- include ('partials/footer') %>  
</body>
</html>