<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Agregar productos</title>
</head>
<body>

    <!-- <header>
        <div class="elementos-header">
            <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
            <p class="ubicacion-pestaña">TODOS LOS PRODUCTOS</p>
        <nav class="nav-menu">
            <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
            
                <a class="enlaces-menu" href="/"><i class="fa-solid fa-house"></i> HOME</a>
                <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
                <a class="enlaces-menu" href="/productCart"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
                <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
            
        </nav>
        <nav class="nav-barra-menu">
                <a class="enlaces-barra-menu" href="/"><i class="fa-solid fa-house"></i><div>HOME</div></a>
                <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
                <a class="enlaces-barra-menu" href="/productCart"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
                <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
        </nav>
        
        </div>
    </header> -->
    <%- include ('./partials/header') %> 
    <main>

        
        <form action="/" method="post">

            <label> Agregar Producto </label>
            <input type="text" name="nombreProductos">
            <label> Foto del Producto </label>
            <input type="imagen" name="imagen">



        </form>



    </main>


    
</body>
</html>