<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Categorías - SmartMarket</title>
</head>
<body class="body-categories">
    

<%- include ('./partials/header') %> 
<main class="main-categories">
    
<section class="conjunto-articulos-categories">
    
    <nav class="categories">
        <ul class="lista-categories">
            <a href="/all-products"><div class="all-product"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
            <a href="/almacen"><div class="categorie"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
            <a href="/bebidas"><div class="categorie"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
            <a href="/bebidas-con-alcohol"><div class="categorie"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
            <a href="/carnes"><div class="categorie"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
            <a href="/higiene"><div class="categorie"><i class="fa-solid fa-soap"></i>Higiene</div></a>
            <a href="/lacteos"><div class="categorie"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
            <a href="/limpieza"><div class="categorie"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
            <a href="/verduleria"><div class="categorie"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
        </ul>
    </nav>
    
</section>
</main>
<%- include ('partials/footer') %>
</body>
</html>