<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>

<body>
    <%- include ('./partials/header') %>
    <main>
        <div class="slider-div">
            <ul class="slider">
                <li>
                    <input type="radio" id="sbutton1" name="sradio" checked>
                    <label for="sbutton1"></label>
                    <img src="./images/imagen reel 1.webp" alt="">
                </li>
                <li>
                    <input type="radio" id="sbutton2" name="sradio">
                    <label for="sbutton2"></label>
                    <img src="./images/imagen reel 2.webp" alt="">
                </li>
                <li>
                    <input type="radio" id="sbutton3" name="sradio">
                    <label for="sbutton3"></label>
                    <img src="./images/imagen reel 3.webp" alt="">
                </li>
            </ul>
        </div>
        <section class="categorias">
            <h3 class="titulares">Categorías</h3>
            <div class="categorias-div">
                <section class="categoria">
                    <a href="/productos/categoria/bebidas"><i class="fa-solid fa-bottle-water"></i>
                        <p>Bebidas</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/almacen"><i class="fa-solid fa-bread-slice"></i>
                        <p>Almacén</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/lacteos"><i class="fa-solid fa-cheese"></i>
                        <p>Lacteos</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/limpieza"><i class="fa-solid fa-spray-can-sparkles"></i>
                        <p>Limpieza</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/higiene"><i class="fa-solid fa-toilet-paper"></i>
                        <p>Higiene</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/verduleria"><i class="fa-solid fa-carrot"></i>
                        <p>Verduleria</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/carnes"><i class="fa-solid fa-drumstick-bite"></i>
                        <p>Carnes</p>
                    </a>
                </section>
                <section class="categoria">
                    <a href="/productos/categoria/bebidas-con-alcohol"><i class="fa-solid fa-wine-glass"></i>
                        <p>Alcohol</p>
                    </a>
                </section>
            </div>
            <section class="productos-destacados">
                <h3 class="titulares">Productos destacados</h3>
                <div class="productos-div">
                    <img src="./images/destacado 1.webp">
                    <img src="./images/destacado 2.webp">
                </div>
            </section>
            <section class="opiniones">
                <h3 class="titulares">Opiniones de clientes</h3>
                <div class="opiniones-div">
                    <img src="./images/opinion1.png">
                    <img src="./images/opinion2.png">
                    <img src="./images/opinion3.png">
                </div>
            </section>
            <div class="div-iconos">
                <section class="section-iconos">
                    <i class="fa-solid fa-lock" style="color:#6d6d6d; font-size: 2em;"></i>
                    <p class="p-iconos">100% Pago seguro</p>
                </section>
                <section class="section-iconos">
                    <i class="fa-brands fa-whatsapp" style="color:#6d6d6d; font-size: 2em;"></i>
                    <p class="p-iconos">Estamos para vos en Whatsapp</p>
                </section>
                <section class="section-iconos">
                    <i class="fa-solid fa-arrow-right-arrow-left" style="color:#6d6d6d; font-size: 2em;"></i>
                    <p class="p-iconos">Somos sustentables</p>
                </section>
                <section class="section-iconos">
                    <i class="fa-solid fa-thumbs-up" style="color:#6d6d6d; font-size: 2em;"></i>
                    <p class="p-iconos">Te ayudamos a compar mejor</p>
                </section>

            </div>

    </main>

    <%- include ('partials/footer') %>
</body>

</html>