<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3899215381.js" crossorigin="anonymous"></script>

    <link href="./css/stylesDetail.css" rel="stylesheet">

    <title>DetallesDelProducto</title>
</head>
<body>
    <!-- <header>
        <img src="img/SMDH.png" atl="logo" class="logo">
    </header> -->
    <%- include ('./partials/header') %> 

    <main>
        <section class="cuerpoDelDetalle">
            <section class="detalleDelProducto">
                <div class="productoDetalle">
                    <div class="detalleImagen"> <img src="img/descarga.jpg"  alt="Doritos" > </div>
                    <div class="fichaDescripcion">Ficha Tecnica:</div>
                    <div class="fichaDescripcion"><span>Marca</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Presentación del producto</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Tipo de producto</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Cantidad</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Presentacion del producto</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>profundidad del ITEM</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Ancho del ITEM</span><span>Descripcion</span></div>
                    <div class="fichaDescripcion"><span>Altura del ITEM</span><span>Descripcion</span></div>
                </div>
            </section>
            
            <section class="carritoDelProducto">
                <div class="detallesDelCarrito">
                    <div class="carritoDescripcion"><h2>DORITOS</h2></div>
                    <div class="carritoDescripcion"><h4>Doritos 300gr x1 unidad</h4></div>
                    <div class="carritoDescripcion"><span>$0.000.000</span></div>
                    <div class="carritoDescripcion"><span>Valor unidad</span></div>
                    <div class="botonDeAdicionar"> <button class="botonDeCantidad">+</button> Cantidad
                        <button class="botonDeCantidad">-</button></div>
                    <div class="botonDeAgregar"><button class="botonPago">Agregar Producto</button></div>
                    <div class="botonDeAgregar"><button class="botonPago">Comprar ahora</button></div>
                </div>
            </section>

        </section>
    </main>

    <footer>

        <span>2022 SuperMarket marca registrada por Digital House </span>

    </footer>

    
</body>
</html>