<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head') %>

<body>

    <%- include ('./partials/header') %>

    <main class="main-profile">

        <div class="profile-card">
            <img src="/images/users/fotoPerfil.jpg" style="width:100%">
            <h1 class="usuario">Usuario</h1>
            <p class="profile-nombreCompleto">Nombre Completo</p>
            <p>Pais</p>
            <p>Direccion</p>
            <p><button class="profile-boton">Editar usuario</button></p>
            <p><button class="profile-boton">Eliminar usuario</button></p>
        </div>
        

    </main>

    <%- include('./partials/footer') %>
</body>

</html>