* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*MOBILE*/



/*MAIN*/
main.main-section {
    background-image: url(/img/fondo-carrito.png);
    background-repeat: repeat;
    background-size: 200px;
    padding-bottom: 50px;
    
}
.div-select-categorias{
    position: absolute;
    top: 110px;
    left: 20px;
}
.div-select-categorias select{
    width: 160px;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    border: #e4e4e4 solid 0.5px;
    opacity: 85%;
    color: black;
}


.body-categories {
    background-image: url(/img/fondo-carrito.png);
    background-repeat: repeat;
    background-size: 200px;
}


section.conjunto-articulos-productos {
    background: #e4e4e4;
    width: 90vw;
    max-width: 720px;
    position: relative;
    top: 170px;
    left: 5vw;
    right: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 250px;
}


a {
    text-decoration: none;
}

.articulo-productos {
    width: 44%;
    margin: 3%;
    background-color: #ffffff;
    border-radius: 10%;
    max-width: 300px;
}

.articulo-productos:hover {
    box-shadow: 0px 0px 5px 0px rgb(100, 100, 100);
}

.imagen-producto {
    width: 100%;
    border-radius: 10%;
}

.detalles-producto {
    border-top: solid 0.5px #e4e4e4;
    position: relative;
    min-height: 115px;
    margin-left: 10px;
}

.nombre-producto {
    font-size: 12px;
    font-weight: bold;
    color: #383e42;
}

.descripcion-producto {
    font-size: 8px;
    color: #383e42;
}

.precio-producto {
    font-size: 20px;
    font-weight: bold;
    color: #383e42;
    position: absolute;
    bottom: 30%;
}

.agregar-carrito-boton {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 7px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #03004e;
    background: linear-gradient(to right, #03004e, #302791, #03004e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    margin-top: 15px;
    max-width: 110px;
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.agregar-carrito-boton i {
    margin-right: 2%;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.agregar-carrito-boton span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.agregar-carrito-boton:hover i {
    transform: translateX(7px);
}

.agregar-carrito-boton:hover span {
    transform: translateX(7px);
}

section.conjunto-articulos-barra-categorias {
    display: none;
}



/******MEDIA QUERIES*****/
@media (min-width: 767px) {

    .articulo-productos {
        width: 42%;
        margin: 4%;
        background-color: #ffffff;
        border-radius: 10%;
        max-width: 300px;
    }

    .agregar-carrito-boton {
        position: absolute;
        left: 20%;
        bottom: 5%;
        max-width: 160px;
        font-size: 12px;
    }

    .agregar-carrito-boton i {
        margin-left: 5%;
        margin-right: 5%;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .detalles-producto {
        height: 140px;
    }

    .nombre-producto {
        margin-left: 15px;
        margin-top: 5px;
        font-size: 20px;
    }

    .descripcion-producto {
        font-size: 12px;
        margin-left: 15px;
    }

    .precio-producto {
        margin-left: 15px;
    }
    .conjunto-articulos-categories {
        left: 8%;
    }
    .div-select-categorias{
        left: 40px;
    }
    
}

@media (min-width: 1024px) {

    /*HEADER*/
    button.boton-menu {
        display: none;
    }
    .conjunto-articulos-categories {
        left: 20%;
        max-width: 600px;
    }
    .div-select-categorias{
        display: none;
    }





/*MAIN*/

section.conjunto-articulos-barra-categorias {
    display: block;
    min-width: 250px;
    width: 15vw;
    background-color: #e4e4e4;
    position:absolute;
    top: 240px;
    height: 80vw;
    max-height: 550px;
    border-radius: 2%;
    box-shadow: 0px 0px 3px 0px rgb(100, 100, 100);
    padding: 5px;
}


.boton-categorias {
    display: none;
}

.lista-categorias a {
    color: #383e42;
}

section.conjunto-articulos-productos {
    background: #e4e4e4;
    width: 70vw;
    left: 29%;
    margin-bottom: 300px;
}

.catego {
    border-bottom: solid #383e42 0.5px;
    width: 100%;
    height: 60px;
    align-items: center;
    padding-top: 18px;
    padding-left: 10px;
    padding-bottom: 35px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.catego-verdu {
    width: 100%;
    height: 60px;
    align-items: center;
    padding-top: 18px;
    padding-left: 10px;
    padding-bottom: 35px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.catego i {
    padding-right: 10px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.catego:hover {
    background-color: #B1B9C1;
    transform: translateX(7px);
    border-radius: 10px;
}

.catego-verdu:hover {
    background-color: #B1B9C1;
    transform: translateX(7px);
    border-radius: 10px;
}

.all {
    width: 100%;
    border-bottom: solid #383e42 0.5px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 34px;
    padding-left: 10px;
    font-weight: 700;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.all i {
    padding-right: 10px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.all:hover {
    background-color: #B1B9C1;
    transform: translateX(7px);
    border-radius: 10px;
}

.articulo-productos {
    margin: 14.5px;
    background-color: #ffffff;
    max-width: 150px;
}

.detalles-producto {
    border-top: solid 0.5px #e4e4e4;
    position: relative;
    min-height: 145px;
    margin-left: 0px;
}

.agregar-carrito-boton {
    position: absolute;
    left: 8%;
    bottom: 5%;
    max-width: 140px;
    font-size: 8.5px;
}

.nombre-producto {
    font-size: 15px;
}

.descripcion-producto {
    font-size: 12px;
    color: #383e42;
}

.precio-producto {
    bottom: 25%;
}
}



@media (min-width: 1440px) {

    section.conjunto-articulos-productos {
        left: 29%;
        width: 75%;
        max-width: 1010px;
    }

    .articulo-productos {
        margin: 16px;
        background-color: #ffffff;
        max-width: 220px;
    }

    .detalles-producto {
        border-top: solid 0.5px #e4e4e4;
        position: relative;
        min-height: 175px;
    }

    .agregar-carrito-boton {
        position: absolute;
        left: 18%;
        bottom: 5%;
        font-size: 10px;
    }

    .nombre-producto {
        margin-top: 10px;
        font-size: 20px;
    }

    .descripcion-producto {
        font-size: 13px;
        color: #383e42;
    }

    .precio-producto {
        bottom: 30%;
    }
    
}

@media (min-width: 1800px) {

    section.conjunto-articulos-productos {
        left: 25%;
        width: 70%;
        max-width: 1260px;
    }

    nav.categories {
        position: absolute;
        left: 20%;
        width: 400px;
    }
}

