* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.slider-div {
    display: flex;
    align-content: center;
}

.slider {
    width: 100%;
    height: 20vh;
    margin: 58px 0px 0px 0px;
    position: relative;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    opacity: 0;
    transition: all 0.7s;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="radio"]:checked~img {
    opacity: 1;
}

.slider input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid green;
    cursor: pointer;
}

.slider input[type="radio"]:checked+label {
    background: green;
    border: 2px solid white;
}


header {
    background-color: #63bc5e;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100vw;
    position: fixed;
    z-index: 10;
    opacity: 95%;
}

.elementos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.nav-menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.opciones-nav {
    margin: 5px;
    align-items: center;
}

img.logo-principal {
    width: 100px;
    height: auto;
}

a.logo-principal {
    max-width: 100px;
}

.opciones-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.inicios-usuarios {
    font-size: 10px;
    color: white;
}

.inicios-usuarios a {
    font-size: 10px;
    color: white;
    margin-right: 10px;
}

.inicios-usuarios a:hover {

    color: #008c2a;

}


.opciones-nav-header img {

    width: 2em;
    border-radius: 50%;
    height: 2em;
}

.select-header {
    width: 110px;
    background-color: #63bc5e;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    color: white;
    position: absolute;
    right: 50px;
}

.opciones-select-header-nombre {
    background-color: #e4e4e4;
    color: #868686;
}

.opciones-select-header {
    background-color: #e4e4e4;
    color: #383e42;
}

.img-burguer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.opciones-nav i {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
}

.opciones-nav {
    color: #008c2a;
    font-weight: bold;
    font-size: 12px;
}



.group {
    display: none;
    line-height: 28px;
    align-items: center;
    width: 40%;
    position: relative;
    left: 5%;
}

.input {
    width: 280px;
    height: auto;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid #008c2a;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;

}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: relative;
    left: 1.5rem;
    fill: #008c2a;
    width: 1rem;
    height: 1rem;
}

.nav-select-categorias {
    position: absolute;
    top: 130px;
    left: 5%;
}

.select-categorias {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: #63bc5e;
    color: white;
    border: none;
    text-align: center;
    letter-spacing: 2px;
}


main.main-edit {
    background-image: url(/img/fondo-carrito.png);
    background-repeat: repeat;
    background-size: 200px;
}

main.main-detail {
    background-color: #ffffff;
}

.categorias {
    width: 100%;
    height: auto;
}

.categorias-div {
    display: flex;
    background-color: white;
    width: 90%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 6%;
}

.categoria {
    margin: 5px;
    padding: 5px;
    text-align: center;
    align-content: stretch;
    color: white;
    text-shadow: 2px 2px 4px #868686;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: #53b64e;
    border-radius: 5px;
    box-shadow: 6px 6px 7px #cccccc;
}

.categoria i {
    font-size: 40px;
    margin: 10px;
}


.categoria:hover i {
    color: #8bff85 !important;
}

.categoria:hover a {
    color: #8bff85 !important;
}

.categoria a {
    color: white;
}

.titulares {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-bottom: 18px;
    margin-top: 30px;
    color: rgb(116, 116, 116);
}

.productos-destacados {
    width: 100%;
    height: auto;
}

.productos-div {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos-div img {
    width: 320px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 0.5%;
}

.opiniones-div {
    display: flex;
    justify-content: space-around;

}

.opiniones-div img {
    width: 110px;
    height: 150px;
    border-radius: 10px;

}

footer {

    background-color: #E4E4E4;
    text-align: center;
    align-content: center;
    padding: 3px;
    width: 100%;
    height: auto;
    position: relative;
}

footer p {
    position: absolute;
    bottom: 2px;
    font-size: 10px;
    right: 20px;
}



footer section article {
    margin: 30px;
}

.lista-footer {
    list-style: none;
}

.lista-categorias {
    list-style: none;
}

.nav-footer li a {
    background-color: #E4E4E4;
    color: black;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: 12px;
}

.nav-footer li a:hover {
    color: #848484;
}

.nav-footer>li {
    float: left;
}

.nav-footer li ul {
    display: none;
    max-width: 140px;
}


.nav-footer li:hover>ul {
    display: block;
}

.nav-footer li ul li {
    position: relative;
    width: 100%;
}

.div-iconos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #d1d1d1;
    margin-top: 20px;
}

.section-iconos {
    text-align: center;
    align-items: center;
    padding: 15px;
    margin: 1px;
    border-radius: 5px;

    width: 210px;
    height: 100px;

}

section.opiniones {
    margin-top: 100px;
}

main.main-edit {
    position: relative;
    background-color: white;
    text-align: center;
    padding-top: 110px;
    height: 1000vh;
    max-height: 770px;

}

form.form-edit {
    position: relative;
    width: 80%;
    background-color: #e4e4e4;
    margin-left: 10%;
    margin-right: 10%;
    height: 90%;
    padding-top: 3%;
    border-radius: 10px;
}

h2.products-title {
    position: absolute;
    top: 2%;
    left: 5%;
    color: #383e42;
}

div.div-form-edit {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 40px;
    display: flex;

}

label.form-label {
    color: #383e42;
    font-size: 20px;
    margin-right: 20px;
}

.form-input {
    width: 97%;
    height: 35px;
    border-radius: 5px;
    border: 0.1px solid black;
    margin-bottom: 2px;
    
}

.form-input-image {
    width: 97%;
    margin-bottom: 15px;
    margin-top: 15px;
}

textarea.form-input {
    min-height: 70px;
    height: 5%;
    max-height: 120px;
}

button.buy-now-button {
    margin: 30px;
    padding: 5px;
    background-color: #0d0c22;
    color: #fff;
    position: absolute;
    bottom: -20px;
    right: 0px;
    border-radius: 5px;
    height: 30px;
    border: none;
}

img.form-img {
    width: 20%;
    max-width: 60px;
    margin: 10px;
}

.text-danger {
    color: red;
    font-size: 12px;
}

/*PROFILE*/
.main-profile {
    padding-top: 3%;
    height: 95vh;
    display: flex;
    align-content: center;
    background-image: url(/img/fondo-carrito.png);
    background-repeat: repeat;
    background-size: 200px;
}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30vw;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #fff;
}

.profile-nombreCompleto {
    color: grey;
    font-size: 18px;
    margin: 3%;
}

.profile-boton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-boton:hover {
    opacity: 0.7;
}

.fotoPerfil-enPerfil img {
    width: 80%;
    max-height: 450px;
    border-radius: 50%;
}



@media (min-width: 768px) {
    .boton-menu {
        display: none;
    }

    .select-header {
        width: 120px;
        font-size: 11px;
        right: 70px;
    }

    img.logo-principal {
        width: 150px;
        height: auto;
    }

    a.logo-principal {
        max-width: 150px;
    }

    .slider {
        width: 100%;
        height: 30vh;

    }

    .slider img {
        height: auto;
        margin: 25px 0px 0px 0px;
    }

    .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        width: 31%;
    }

    footer section {
        display: flex;
    }

    .opciones-nav {

        font-size: 15px;
    }

    .productos-div img {
        width: 380px;
        height: auto;
        margin-bottom: 5px;
    }

    .nav-footer li ul {
        display: flex;
        width: 600px;
    }

    ul.lista-footer li a {
        width: 100px;
    }

    li ul.lista-footer li.ultimo-li a {
        width: 400px;
    }

    .nav-footer i {
        display: none;
    }

    ul.lista-categorias {
        text-align: left;
    }

    .opciones-header {

        margin-right: 30px;
        margin-left: 15px;
    }

    .logo-principal {
        width: 30%;
        height: auto;
    }

    .section-iconos {
        width: 180px;

    }

    main.main-edit {
        max-height: 870px;
    }

    .categoria {
        width: 145px;
        height: 100px;
    }
}

@media (min-width: 1024px) {

    .nav-select-categorias {
        display: none;
    }

    

    .select-header {
        width: 150px;
        font-size: 14px;
        right: 60px;
    }

    .opciones-nav-header {
        width: 2em;
        border-radius: 50%;
        position: absolute;
        right: 215px;
    }

    .slider {
        width: 100%;
        height: 45vh;
    }

    .slider img {
        width: 100%;
        height: 80%;
    }

    .opciones-header {

        margin-right: 70px;
        margin-left: 5px;
    }

    .opciones-nav {

        font-size: 20px;
    }

    .productos-div {
        justify-content: center;
    }

    .opiniones-div {
        justify-content: space-evenly;
    }

    .opiniones-div img {
        width: 150px;
        height: 200px;
    }

    .inicios-usuarios {
        font-size: 15px;
    }

    .inicios-usuarios a {
        font-size: 15px;
    }

    .nav-footer li:hover>ul {
        display: flex;
    }

    main.main-edit {
        height: 150vh;
    }

    label.form-label {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    main.main-detail {
        background-image: url(/img/fondo-carrito.png);
        background-repeat: repeat;
        background-size: 350px;
    }

    footer section article {
        margin: 8px;
    }

    .nav-footer li a {

        padding: 10px 15px;

    }

    .categoria {
        width: 200px;
        height: 100px;
    }
  


}

@media (min-width: 1600px) {
    footer section article {
        margin: 20px;
    }
}





/* ---------------------- REGISTER--------------------*/
.card-register {
    width: 100vw;
    max-width: 350px;
    height: 700px;
    background: #F4F6FB;
    border: 1px solid white;
    -webkit-box-shadow: 10px 10px 64px 10px #399e34;
    padding: 25px;
    margin-top: 100px;
}

main.main-register {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url("../img/fondo-carrito.png");
    width: 100%;
    height: 150vh;
    max-height: 900px;
    background-repeat: round;
    background-size: 200px;

}

.checkbox-register {

    margin: 10px;

}

.label-checkbox {
    font-size: 15px;
    color: #868686;
    letter-spacing: 1px;
}

.button-register {

    font-size: 12px;
    background: #399e34;
    color: white;
    padding: 0.5em 0.5em;
    padding-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    width: 90px;
    height: 30px;
    margin-left: 32%;
}



/* ----------------------LOGIN--------------------*/

.card {
    width: 190px;
    height: 280px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px #399e34;
    -webkit-box-shadow: 10px 10px 64px 0px #399e34;
    -moz-box-shadow: 10px 10px 64px 0px #399e34;

}

.form {
    padding: 25px;
    margin-top: 120px;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: #399e34;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #399e34;
}

.field {
    padding-bottom: 10px;
}



.input-login {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #399e34;
    border: 1px solid #dadaf7
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}


.button-login {

    font-size: 12px;
    background: #399e34;
    color: white;
    padding: 0.5em 0.5em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    width: 90px;
    height: 30px;
    margin-left: 32%;
}

.main-login {

    background: url("../img/fondo-carrito.png");
    width: 100%;
    height: 90vh;
    max-height: 800px;
    background-repeat: round;
    background-size: 200px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.recordarUsuario {
    font-size: 12px;
    margin: 5px;
}



/* --------------- validacionFormularios ------------------------- */

small {
    color: red;
    font-size: 12px;
}