* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header {
    position: relative;
}

.logo {
    width: 200px;
    background-color: #63cb5e;
    border-radius: 10px;
}

main {
    margin-top: 50px;
}

.cuerpoDelDetalle {
    display: flex;
}

.detalleDelProducto {
    flex-basis: 50%;
    border-right: 1px solid black;
    align-self: center;
    justify-content: center;
}


.carritoDelProducto {
    flex-basis: 50%;
}

.detalleImagen {
    display: flex;
    justify-content: center;
    background-color: #eeee;
    border-radius: 20px;
    max-width: 400px;
    position: relative;
    left: 25%;
}
.detalleImagen img{
    
}

.detalleImagen>img {
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    margin: 35px;
}

.productoDetalle {
    display: flex;
    flex-direction: column;
    position: relative;
}

.fichaDescripcion {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.detallesDelCarrito {
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 50px;
}

.carritoDescripcion {
    padding-bottom: 10px;
}

.carritoDescripcion h4 {
    width: 100%;
}


.botonDeCantidad {
    width: 25px;
    height: 25px;
}

.botonDeAdicionar {
    padding-top: 5%;
}

.botonDeAgregar {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botonPago {
    padding: 10px;
    justify-content: center;
    width: 80%;
}

.precio-en-detail {
    font-size: 40px;
    font-weight: 700;
    color: #383e42;
}

/* footer{
    padding-top: 50%;
} */


@media (max-width: 768px) {
    .cuerpoDelDetalle {
        flex-direction: column;
    }

    .detalleDelProducto {
        border-right: none;
        border-bottom: 1px solid black;
    }

}

@media (max-width: 1260px){
    .detalleImagen {
        
        position: relative;
        left: 0%;
    }
}