* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.slider-div {
    display: flex;
    align-content: center;
}

.slider {
    width: 100%;
    height: 20vh;
    margin: 58px 0px 0px 0px;
    position: relative;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    opacity: 0;
    transition: all 0.7s;

}


@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="radio"]:checked~img {
    opacity: 1;
}

.slider input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid green;
    cursor: pointer;
}

.slider input[type="radio"]:checked+label {
    background: green;
    border: 2px solid white;
}


header {
    background-color: #63bc5e;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100vw;
    position: fixed;
    z-index: 10;
    opacity: 95%;
}

.elementos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.nav-menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.opciones-nav {
    margin: 5px;
    align-items: center;
}

img.logo-principal {
    width: 100px;
    height: auto;
}
a.logo-principal{
    max-width: 100px;
}

.opciones-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


button.boton-menu {
    background-color: #008c2a;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 30%;
}

.img-burguer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.opciones-nav i {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
}

.opciones-nav {
    color: #008c2a;
    font-weight: bold;
    font-size: 12px;
}



.group {
    display: none;
    line-height: 28px;
    align-items: center;
    width: 40%;
    position: relative;
    left: 5%;
}

.input {
    width: 280px;
    height: auto;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid #008c2a;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: relative;
    left: 1.5rem;
    fill: #008c2a;
    width: 1rem;
    height: 1rem;
}

main.main-edit{
    background-image: url(/img/fondo-carrito.png);
    background-repeat: repeat;
    background-size: 200px;
}
main.main-detail{
    background-color: #ffffff;
}
.categorias {
    width: 100%;
    height: auto;
}

.categorias-div {
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categoria {
    margin: 5px;
    padding: 5px;
    text-align: center;
    align-content: center;
    color: #008c2a;
    width: 120px;
    height: 100px;
    font-size: 29px;
}
.categoria i {
    color:#008c2a ;
}

a {
    color: #008c2a;
}

.titulares {
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.productos-destacados {
    width: 100%;
    height: auto;
}

.productos-div {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos-div img {
    width: 320px;
    height: auto;
    margin-bottom: 5px;
}

.opiniones-div {
    display: flex;
    justify-content: space-around;

}

.opiniones-div img {
    width: 110px;
    height: 150px;
    border-radius: 10px;
}

footer {
    
    background-color: #E4E4E4;
    text-align: center;
    align-content: center;
    padding: 3px;
    width: 100%;
    height: auto;
    position: relative;
}

footer section article {
    margin: 30px;
}

.lista-footer {
    list-style: none;
}

.lista-categorias {
    list-style: none;
}

.nav-footer li a {
    background-color: #E4E4E4;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 25px;
}

.nav-footer li a:hover {
    background-color: #868686;
}

.nav-footer>li {
    float: left;
}

.nav-footer li ul {
    display: none;
    max-width: 140px;
}

ul.lista-footer li a {
    width: 300px;
    font-size: 15px;
}

.nav-footer li:hover>ul {
    display: block;
}

.nav-footer li ul li {
    position: relative;
    width: 100%;
}

.div-iconos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #d1d1d1;
    margin-top: 20px;
}

.section-iconos {
    text-align: center;
    align-items: center;
    padding: 15px;
    margin: 1px;
    border-radius: 5px;
    
    width: 210px;
    height: 100px;

}
section.opiniones {
    margin-top: 100px ;
}

main.main-edit {
    position: relative;
    background-color: white;
    text-align: center; 
    padding-top: 110px;
    height: 1000vh;
    max-height: 770px;
    
}

form.form-edit {
    position: relative;
    width: 80%;
    background-color: #e4e4e4;
    margin-left: 10%;
    margin-right: 10%;
    height: 90%;
    padding-top: 3%;
    border-radius: 10px;
}

h2.products-title{
    position: absolute;
    top: 2%;
    left: 5%;
    color: #383e42;
}
div.div-form-edit{
    position: absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
}
label.form-label{
    color: #383e42;
    font-size: 20px;
    margin-right: 20px;
}
.form-input{
    width: 97%;
    height: 35px;
    border-radius: 5px;
    border: 0.1px solid black;
    margin-bottom: 15px;
}
.form-input-image{
    width: 97%;
}
textarea.form-input{
    min-height: 70px;
    height: 5%;
    max-height: 120px;
}

button.buy-now-button{
    margin: 30px;
    padding: 5px;
    background-color: #0d0c22;
    color: #fff;
    position: absolute;
    bottom: -20px;
    right: 0px;
    border-radius: 5px;
    height: 30px;
    border: none;
}
img.form-img{
    width: 20%;
    max-width: 60px;
    margin: 10px;
}



@media (min-width: 768px) {
    .boton-menu{
        display: none;
    }
    img.logo-principal {
        width: 150px;
        height: auto;
    }
    a.logo-principal{
        max-width: 150px;
    }
    .slider {
        width: 100%;
        height: 30vh;
        
    }

    .slider img {
        height: auto;
        margin: 25px 0px 0px 0px;
    }

    .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        width: 40%;
    }

    footer section {
        display: flex;
    }

    .opciones-nav {

        font-size: 15px;
    }

    .productos-div img {
        width: 380px;
        height: auto;
        margin-bottom: 5px;
    }

    .nav-footer li ul {
        display: flex;
        width: 600px;
    }

    ul.lista-footer li a {
        width: 100px;
    }

    li ul.lista-footer li.ultimo-li a {
        width: 400px;
    }

    .nav-footer i {
        display: none;
    }

    ul.lista-categorias {
        text-align: left;
    }

    .opciones-header {

        margin-right: 30px;
        margin-left: 15px;
    }
    .logo-principal {
        width: 30%;
        height: auto;
    }
    .section-iconos {
        width: 180px;

    }
    main.main-edit {
        max-height: 870px;
    }
   
   
}

@media (min-width: 1024px) {
    
    .nav-menu {
        justify-content: space-evenly;
    }
    .slider {
        width: 100%;
        height: 45vh;
    }
    .slider img {
        width: 100%;
        height: 80%;
         }
    .opciones-header {

        margin-right: 70px;
        margin-left: 5px;
    }

    .opciones-nav {

        font-size: 20px;
    }
    
    .productos-div {
        justify-content: center ;
        margin-top: 40px;
    }
    .opiniones-div {
        justify-content: space-evenly;
    }
    .opiniones-div img {
        width: 150px;
        height: 200px;
    }
    .nav-footer li:hover>ul {
        display: flex;
    }
    main.main-edit{
        height: 150vh;
    }
    label.form-label{
        margin-bottom: 5px;
    }
    main.main-detail{
        background-image: url(/img/fondo-carrito.png);
        background-repeat: repeat;
        background-size: 350px;
    }
}

   



/* ---------------------- REGISTER--------------------*/
.card-register {
    width: 250px;
    height: 550px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px #399e34;
    -webkit-box-shadow: 10px 10px 64px 0px #399e34;
    -moz-box-shadow: 10px 10px 64px 0px #399e34;
    padding: 25px;
    margin-top: 140px;
}

.main-register {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url("../img/fondo-carrito.png");
    width: 100%;
    height: 200vh;
    max-height: 800px;
    background-repeat: round;
    background-size: 200px;
    
}
.checkbox-register {
    display: flex;
    justify-content: space-around;
    margin: 10px;

}

.label-checkbox {
    font-size: 12px;
    color: #868686;
}



/* ----------------------LOGIN--------------------*/

.card {
    width: 190px;
    height: 270px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px #399e34;
    -webkit-box-shadow: 10px 10px 64px 0px #399e34;
    -moz-box-shadow: 10px 10px 64px 0px #399e34;
    
}

.form {
    padding: 25px;
    margin-top: 120px;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: #399e34;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #399e34;
}

.field {
    padding-bottom: 10px;
}



.input-login {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #399e34;
    border: 1px solid #dadaf7
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}


.button-login {

    font-size: 18px;
    background: #399e34;
    color: white;
    padding: 0.2em 0.5em;
    display: flex;
    align-items: flex-start;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    width: 70px;
    height: 30px;
    margin-left: 32%;
}

.main-login{

    background: url("../img/fondo-carrito.png");
    width: 100%;
    height: 90vh;
    max-height: 800px;
    background-repeat: round;
    background-size: 200px;
    display: flex;
    justify-content: center;
    align-content: center;

}



/* --------------- productEdit ------------------------- */

