<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Bebidas - SmartMarket</title>
</head>
<body>
<header>
    <div class="elementos-header">
        <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
        <p class="ubicacion-pestaña">BEBIDAS</p>
    <nav class="nav-menu">
        <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
        
            <a class="enlaces-menu" href="/home"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
            <a class="enlaces-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
            <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
        
    </nav>
    <nav class="nav-barra-menu">
            <a class="enlaces-barra-menu" href="/home"><i class="fa-solid fa-house"></i><div>HOME</div></a>
            <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
            <a class="enlaces-barra-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
            <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
    </nav>
    
    </div>
</header>

<main>
<div>
    <a href="/categories">
      <button class="boton-categorias"> Todas las categorías
        <div class="icono-boton-categorias">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </a>
</div>
    <section class="conjunto-articulos-productos">
        <div class="articulosx4">
        <div class="articulosx2-izquierda">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/coca 2.25.png">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Coca-Cola</div>
             <div class="descripcion-producto">Gaseosa Coca-Cola 2.25lts Sabor Original</div>
             <div class="precio-producto">$250</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/Coca light 2.25.png">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Coca-Cola</div>
             <div class="descripcion-producto">Gaseosa Coca-Cola Light 2.25lts. Sin azúcares</div>
             <div class="precio-producto">$250</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
        <div class="articulosx2-derecha">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/fanta 2.25.png">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Fanta</div>
             <div class="descripcion-producto">Gaseosa Fanta 2.25lts Sabor Naranja</div>
             <div class="precio-producto">$230</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
                <img class="imagen-producto" src="/img/fanta light 2.25.png">
                <div class="detalles-producto"></div>
                <div class="nombre-producto">Fanta Light</div>
                <div class="descripcion-producto">Gaseosa Fanta 2.25lts Sabor Naranja. Sin azúcares</div>
                <div class="precio-producto">$230</div>
               </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
    </div>
    <div class="articulosx4">
        <div class="articulosx2-izquierda">
            <article class="articulo-productos">
                <a href="/producto">
                 <img class="imagen-producto" src="/img/sprite 2.25.png">
                 <div class="detalles-producto"></div>
                 <div class="nombre-producto">Sprite</div>
                 <div class="descripcion-producto">Gaseosa Sprite 2.25lts Sabor Lima Limón</div>
                 <div class="precio-producto">$230</div>
                </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            <article class="articulo-productos">
                <a href="/producto">
                    <img class="imagen-producto" src="/img/sprite light 2.25.png">
                    <div class="detalles-producto"></div>
                    <div class="nombre-producto">Sprite Light</div>
                    <div class="descripcion-producto">Gaseosa Sprite 2.25lts Sabor Lima Limón. Sin azúcares</div>
                    <div class="precio-producto">$230</div>
                   </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            </div>
            <div class="articulosx2-derecha">
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/pepsi 2.25.png">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Pepsi</div>
                     <div class="descripcion-producto">Gaseosa Pepsi 2.25lts Sabor Cola</div>
                     <div class="precio-producto">$245</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/pepsi light 2.25.png">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Pepsi Light</div>
                     <div class="descripcion-producto">Gaseosa Pepsi 2.25lts Sabor Cola. Sin azúcares</div>
                     <div class="precio-producto">$245</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                </div>
            </div>
            <div class="articulosx4">
                <div class="articulosx2-izquierda">
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/7up 2.25.png">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">7up</div>
                         <div class="descripcion-producto">Gaseosa 7up 2.25lts Sabor Lima Limón</div>
                         <div class="precio-producto">$225</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>
                    </article>
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/7up free 2.25.png">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">7up Free</div>
                         <div class="descripcion-producto">Gaseosa 7up 2.25lts Sabor Lima Limón. Sin azúcares</div>
                         <div class="precio-producto">$225</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>

                    </article>
                    </div>
                </div>
        
    </section>
    <section class="conjunto-articulos-barra-categorias">
        <nav class="barra-categorias">
            <ul class="lista-categorias">
                <a href="/all-products"><div class="all"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
                <a href="/almacen"><div class="catego"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
                <a href="/bebidas"><div class="catego"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
                <a href="/bebidas-con-alcohol"><div class="catego"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
                <a href="/carnes"><div class="catego"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
                <a href="/higiene"><div class="catego"><i class="fa-solid fa-soap"></i>Higiene</div></a>
                <a href="/lacteos"><div class="catego"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
                <a href="/limpieza"><div class="catego"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
                <a href="/verduleria"><div class="catego-verdu"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
            </ul>
        </nav>
    </section>
</main>


<footer>


</footer>

</body>
</html>