<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Bebidas con alcohol - SmartMarket</title>
</head>
<body>
<header>
    <div class="elementos-header">
        <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
        <p class="ubicacion-pestaña">BEBIDAS CON ALCOHOL</p>
    <nav class="nav-menu">
        <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
        
            <a class="enlaces-menu" href="/"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
            <a class="enlaces-menu" href="/productCart"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
            <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
        
    </nav>
    <nav class="nav-barra-menu">
            <a class="enlaces-barra-menu" href="/"><i class="fa-solid fa-house"></i><div>HOME</div></a>
            <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
            <a class="enlaces-barra-menu" href="/productCart"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
            <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
    </nav>
    
    </div>
</header>

<main>
<div>
    <a href="/categories">
      <button class="boton-categorias"> Todas las categorías
        <div class="icono-boton-categorias">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </a>
</div>
    <section class="conjunto-articulos-productos">
        <div class="articulosx4">
        <div class="articulosx2-izquierda">
        <article class="articulo-productos">
            <a href="/productDetail">
             <img class="imagen-producto" src="/img/schneider 150.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Schneider</div>
             <div class="descripcion-producto">Cerveza Schneider 1lt. Lager</div>
             <div class="precio-producto">$136</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/productDetail">
             <img class="imagen-producto" src="/img/heineken 340.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Heineken</div>
             <div class="descripcion-producto">Cerveza Heineken 1lt. Lager</div>
             <div class="precio-producto">$327</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
        <div class="articulosx2-derecha">
        <article class="articulo-productos">
            <a href="/productDetail">
             <img class="imagen-producto" src="/img/stella 380.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Stella Artois</div>
             <div class="descripcion-producto">Cerveza Stella Artois 1lt. Lager</div>
             <div class="precio-producto">$365</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/productDetail">
                <img class="imagen-producto" src="/img/saint felic malbec 750 cc 1890.jpg">
                <div class="detalles-producto"></div>
                <div class="nombre-producto">Saint Felicien</div>
                <div class="descripcion-producto">Vino tinto, malbec. Saint Felicien 750cc</div>
                <div class="precio-producto">$1754</div>
               </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
    </div>
    <div class="articulosx4">
        <div class="articulosx2-izquierda">
            <article class="articulo-productos">
                <a href="/productDetail">
                 <img class="imagen-producto" src="/img/portillo blanco 750cc 530 chardonnay.jpg">
                 <div class="detalles-producto"></div>
                 <div class="nombre-producto">Portillo</div>
                 <div class="descripcion-producto">Vino blanco, chardonnay. Portillo 750cc</div>
                 <div class="precio-producto">$515</div>
                </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            <article class="articulo-productos">
                <a href="/productDetail">
                    <img class="imagen-producto" src="/img/fernet 750cc 970.jpg">
                    <div class="detalles-producto"></div>
                    <div class="nombre-producto">Fernet Branca</div>
                    <div class="descripcion-producto">Fernet Branca 750cc</div>
                    <div class="precio-producto">$869</div>
                   </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            </div>
            <div class="articulosx2-derecha">
                <article class="articulo-productos">
                    <a href="/productDetail">
                     <img class="imagen-producto" src="/img/gin 750cc 3050.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Bombay Sapphire</div>
                     <div class="descripcion-producto">Gin Bombay Sapphire 750cc</div>
                     <div class="precio-producto">$3015</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                <article class="articulo-productos">
                    <a href="/productDetail">
                     <img class="imagen-producto" src="/img/tanqueray 700cc 2900.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Tanqueray</div>
                     <div class="descripcion-producto">Gin Tanqueray 700cc</div>
                     <div class="precio-producto">$2783</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                </div>
            </div>
            <div class="articulosx4">
                <div class="articulosx2-izquierda">
                    <article class="articulo-productos">
                        <a href="/productDetail">
                         <img class="imagen-producto" src="/img/corona 710cc 365.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Corona</div>
                         <div class="descripcion-producto">Cerveza Corona 710cc</div>
                         <div class="precio-producto">$345</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>
                    </article>
                    <article class="articulo-productos">
                        <a href="/productDetail">
                         <img class="imagen-producto" src="/img/ron oro 750cc 1300.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Bacardí</div>
                         <div class="descripcion-producto">Ron Bacardí Oro 750cc</div>
                         <div class="precio-producto">$1239</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>

                    </article>
                    </div>
                </div>
        
    </section>
    <section class="conjunto-articulos-barra-categorias">
        <nav class="barra-categorias">
            <ul class="lista-categorias">
                <a href="/all-products"><div class="all"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
                <a href="/almacen"><div class="catego"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
                <a href="/bebidas"><div class="catego"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
                <a href="/bebidas-con-alcohol"><div class="catego"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
                <a href="/carnes"><div class="catego"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
                <a href="/higiene"><div class="catego"><i class="fa-solid fa-soap"></i>Higiene</div></a>
                <a href="/lacteos"><div class="catego"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
                <a href="/limpieza"><div class="catego"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
                <a href="/verduleria"><div class="catego-verdu"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
            </ul>
        </nav>
    </section>
</main>


<footer>


</footer>

</body>
</html>