<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Higiene - SmartMarket</title>
</head>
<body>
<header>
    <div class="elementos-header">
        <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
        <p class="ubicacion-pestaña">HIGIENE</p>
    <nav class="nav-menu">
        <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
        
            <a class="enlaces-menu" href="/home"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
            <a class="enlaces-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
            <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
        
    </nav>
    <nav class="nav-barra-menu">
            <a class="enlaces-barra-menu" href="/home"><i class="fa-solid fa-house"></i><div>HOME</div></a>
            <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
            <a class="enlaces-barra-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
            <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
    </nav>
    
    </div>
</header>

<main>
<div>
    <a href="/categories">
      <button class="boton-categorias"> Todas las categorías
        <div class="icono-boton-categorias">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </a>
</div>
    <section class="conjunto-articulos-productos">
        <div class="articulosx4">
        <div class="articulosx2-izquierda">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/papel.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">P.Higiénico Campanita</div>
             <div class="descripcion-producto">Papel higiénico Campanita 80mts x 4</div>
             <div class="precio-producto">$305</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/papel 2.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">P.Higiénico Higienol</div>
             <div class="descripcion-producto">Papel higiénico Higienol Dúo 50mts x 4</div>
             <div class="precio-producto">$547</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
        <div class="articulosx2-derecha">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/rollo cocina.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Rollo cocina Elite</div>
             <div class="descripcion-producto">Rollo de cocina Elite D/H 2 Uni.</div>
             <div class="precio-producto">$209</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
                <img class="imagen-producto" src="/img/cepillo dientes 2.jpg">
                <div class="detalles-producto"></div>
                <div class="nombre-producto">Cepillo dental Colgate</div>
                <div class="descripcion-producto">Cepillo dental Colgate Essential Clean suave 1 Uni.</div>
                <div class="precio-producto">$68</div>
               </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
    </div>
    <div class="articulosx4">
        <div class="articulosx2-izquierda">
            <article class="articulo-productos">
                <a href="/producto">
                 <img class="imagen-producto" src="/img/cepillo dientes.jpg">
                 <div class="detalles-producto"></div>
                 <div class="nombre-producto">Cepillo dental Colgate</div>
                 <div class="descripcion-producto">Cepillo dental Colgate zig-zag suave 2 Uni.</div>
                 <div class="precio-producto">$186</div>
                </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            <article class="articulo-productos">
                <a href="/producto">
                    <img class="imagen-producto" src="/img/pasta dental.jpg">
                    <div class="detalles-producto"></div>
                    <div class="nombre-producto">Crema Dental Colgate</div>
                    <div class="descripcion-producto">Crema dental Colgate Triple Acción Xtra blancura 50g.</div>
                    <div class="precio-producto">$108</div>
                   </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            </div>
            <div class="articulosx2-derecha">
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/pasta dental 2.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Crema Dental Sensodyne</div>
                     <div class="descripcion-producto">Crema dental Sensodyne Original 50g.</div>
                     <div class="precio-producto">$264</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/desodorante hom.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Desodorante Rexona Men</div>
                     <div class="descripcion-producto">Desodorante Antitranspirante Rexona Xtracool en aerosol 150ml</div>
                     <div class="precio-producto">$304</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                </div>
            </div>
            <div class="articulosx4">
                <div class="articulosx2-izquierda">
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/desodorante muj.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Desodorante Rexona Women</div>
                         <div class="descripcion-producto">Desodorante Antitranspirante Rexona en aerosol 110ml</div>
                         <div class="precio-producto">$355</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>
                    </article>
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/jabon s.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Jabón en barra Rexona</div>
                         <div class="descripcion-producto">Jabón en barra Rexona cotton 125g</div>
                         <div class="precio-producto">$74</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>

                    </article>
                    </div>
                    <div class="articulosx2-derecha">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/jabon s2.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Jabón en barra Lux</div>
                             <div class="descripcion-producto">Jabón en barra Lux Flor de Vainilla 3 x 135g</div>
                             <div class="precio-producto">$137</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                                <img class="imagen-producto" src="/img/jabon l.jpg">
                                <div class="detalles-producto"></div>
                                <div class="nombre-producto">Jabón Líquido Villeneuve</div>
                                <div class="descripcion-producto">Jabón Líquido Villeneuve Coconut 240ml</div>
                                <div class="precio-producto">$230</div>
                               </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        </div>
                </div>
                <div class="articulosx4">
                    <div class="articulosx2-izquierda">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/toallitas fem.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Toallitas Siempre Libre</div>
                             <div class="descripcion-producto">Toallitas Adaptables Ultrafina Siempre Libre 16 Uni</div>
                             <div class="precio-producto">$397</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/toallitas fem2.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Toallitas Always</div>
                             <div class="descripcion-producto">Toallitas Always protección triple suave 16 Uni</div>
                             <div class="precio-producto">$364</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
    
                        </article>
                        </div>
                    </div>
        
    </section>
    <section class="conjunto-articulos-barra-categorias">
        <nav class="barra-categorias">
            <ul class="lista-categorias">
                <a href="/all-products"><div class="all"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
                <a href="/almacen"><div class="catego"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
                <a href="/bebidas"><div class="catego"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
                <a href="/bebidas-con-alcohol"><div class="catego"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
                <a href="/carnes"><div class="catego"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
                <a href="/higiene"><div class="catego"><i class="fa-solid fa-soap"></i>Higiene</div></a>
                <a href="/lacteos"><div class="catego"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
                <a href="/limpieza"><div class="catego"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
                <a href="/verduleria"><div class="catego-verdu"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
            </ul>
        </nav>
    </section>
</main>


<footer>


</footer>

</body>
</html>