<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Lácteos - SmartMarket</title>
</head>
<body>
<header>
    <div class="elementos-header">
        <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
        <p class="ubicacion-pestaña">LÁCTEOS</p>
    <nav class="nav-menu">
        <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
        
            <a class="enlaces-menu" href="/home"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
            <a class="enlaces-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
            <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
        
    </nav>
    <nav class="nav-barra-menu">
            <a class="enlaces-barra-menu" href="/home"><i class="fa-solid fa-house"></i><div>HOME</div></a>
            <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
            <a class="enlaces-barra-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
            <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
    </nav>
    
    </div>
</header>

<main>
<div>
    <a href="/categories">
      <button class="boton-categorias"> Todas las categorías
        <div class="icono-boton-categorias">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </a>
</div>
    <section class="conjunto-articulos-productos">
        <div class="articulosx4">
        <div class="articulosx2-izquierda">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/leche 1.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Leche Ciudad del Lago</div>
             <div class="descripcion-producto">Leche Larga Vida Entera CIUDAD DEL LAGO Ttb 1 L</div>
             <div class="precio-producto">$100</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/leche 2.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Leche Ciudad del Lago</div>
             <div class="descripcion-producto">Leche Larga Vida Descremada CIUDAD DEL LAGO Ttb 1 L</div>
             <div class="precio-producto">$100</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
        <div class="articulosx2-derecha">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/leche 3.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Leche La Serenísima</div>
             <div class="descripcion-producto">Leche Ent.Lv Vit A/C/D/B9 X La Serenisi Ttb 1 Ltr</div>
             <div class="precio-producto">$130</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
                <img class="imagen-producto" src="/img/leche 4.jpg">
                <div class="detalles-producto"></div>
                <div class="nombre-producto">Leche La Serenísima</div>
                <div class="descripcion-producto">Leche Parcialmente Descremada Liviana LA SERENISIMA Larga Vida 1l</div>
                <div class="precio-producto">$130</div>
               </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
    </div>
    <div class="articulosx4">
        <div class="articulosx2-izquierda">
            <article class="articulo-productos">
                <a href="/producto">
                 <img class="imagen-producto" src="/img/leche 5.jpg">
                 <div class="detalles-producto"></div>
                 <div class="nombre-producto">Leche Sancor Bebé</div>
                 <div class="descripcion-producto">Leche Inf. 4 Años Sancor Bebe Ttb 1 Ltr</div>
                 <div class="precio-producto">$324</div>
                </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            <article class="articulo-productos">
                <a href="/producto">
                    <img class="imagen-producto" src="/img/leche 6.jpg">
                    <div class="detalles-producto"></div>
                    <div class="nombre-producto">Leche Sancor Bebé</div>
                    <div class="descripcion-producto">Leche Inf. 1 Año Sancor Bebe Ttb 1 Ltr</div>
                    <div class="precio-producto">$336</div>
                   </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            </div>
            <div class="articulosx2-derecha">
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/leche 7.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Leche Alm. La Serenísima</div>
                     <div class="descripcion-producto">LA SERENISIMA 100% Vegetal Almendra 1l</div>
                     <div class="precio-producto">$375</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/leche 8.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Leche Gran. La Serenísima</div>
                     <div class="descripcion-producto">Bebida Vegetal Granola La Serenisima Ttb 1 Ltr</div>
                     <div class="precio-producto">$475</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                </div>
            </div>
            <div class="articulosx4">
                <div class="articulosx2-izquierda">
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/chocolatada.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Leche Choc. Cindor</div>
                         <div class="descripcion-producto">Leche Chocolatada Vit B3 Cindor Ttb 1 Ltr</div>
                         <div class="precio-producto">$425</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>
                    </article>
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/yogur b1.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Yogur Bebible Sancor</div>
                         <div class="descripcion-producto">Yogur Bebible Entero Frutilla Lechelita Sch 900 Grm</div>
                         <div class="precio-producto">$125</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>

                    </article>
                    </div>
                    <div class="articulosx2-derecha">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/yogur b2.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Yogur Bebible La Serenísima</div>
                             <div class="descripcion-producto">Yogur Bebible Descremado La Serenisima Frutilla 900 Gr</div>
                             <div class="precio-producto">$123</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                                <img class="imagen-producto" src="/img/yogur b3.jpg">
                                <div class="detalles-producto"></div>
                                <div class="nombre-producto">Yogur Bebible Sancor</div>
                                <div class="descripcion-producto">Yogur Bebible Entero Vainilla Lechelita Sch 900 Grm</div>
                                <div class="precio-producto">$125</div>
                               </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        </div>
                </div>
                <div class="articulosx4">
                    <div class="articulosx2-izquierda">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/yogur b4.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Yogur Bebible Ser</div>
                             <div class="descripcion-producto">Yogur Bebible Descremado Probioticos Naturales Multifruta Ser Bot 190 Grm</div>
                             <div class="precio-producto">$245</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/yogur s1.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Yogur Cremoso Milkaut</div>
                             <div class="descripcion-producto">Yogur Cremoso Entero Vainilla Milkaut Pot 120 Grm</div>
                             <div class="precio-producto">$45</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
    
                        </article>
                        </div>
                        <div class="articulosx2-derecha">
                            <article class="articulo-productos">
                                <a href="/producto">
                                 <img class="imagen-producto" src="/img/yogur s2.jpg">
                                 <div class="detalles-producto"></div>
                                 <div class="nombre-producto">Yogur Cremoso Milkaut</div>
                                 <div class="descripcion-producto">Yogur Cremoso Entero Frutilla Milkaut Pot 120 Grm</div>
                                 <div class="precio-producto">$45</div>
                                </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            <article class="articulo-productos">
                                <a href="/producto">
                                    <img class="imagen-producto" src="/img/yogur s3.jpg">
                                    <div class="detalles-producto"></div>
                                    <div class="nombre-producto">Yogur Cremoso La Serenísima</div>
                                    <div class="descripcion-producto">Yogur Cremoso Light La Serenisima Vainilla 120 Gr</div>
                                    <div class="precio-producto">$47</div>
                                   </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            </div>
                    </div>
                    <div class="articulosx4">
                        <div class="articulosx2-izquierda">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/queso crem 1.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Queso Cremoso</div>
                             <div class="descripcion-producto">Cremoso PRIMERA MARCA Xkg</div>
                             <div class="precio-producto">$850</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/queso crem 2.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Queso Cremon La Serenísima</div>
                             <div class="descripcion-producto">Queso Cremon Cremoso LA SERENISIMA X Kg</div>
                             <div class="precio-producto">$1050</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        </div>
                        <div class="articulosx2-derecha">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/queso crem 3.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Queso Cremon La Serenísima</div>
                             <div class="descripcion-producto">Queso Cremon Light LA SERENISIMA X Kg</div>
                             <div class="precio-producto">$1130</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                                <img class="imagen-producto" src="/img/queso crema 1.jpg">
                                <div class="detalles-producto"></div>
                                <div class="nombre-producto">Queso crema Casancrem</div>
                                <div class="descripcion-producto">Queso Crema Clásico Casancrem Pot 290 Grm</div>
                                <div class="precio-producto">$430</div>
                               </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        </div>
                    </div>
                    <div class="articulosx4">
                        <div class="articulosx2-izquierda">
                            <article class="articulo-productos">
                                <a href="/producto">
                                 <img class="imagen-producto" src="/img/queso crema 2.jpg">
                                 <div class="detalles-producto"></div>
                                 <div class="nombre-producto">Queso crema Casancrem</div>
                                 <div class="descripcion-producto">Queso Crema Light Casancrem Pot 290 Grm</div>
                                 <div class="precio-producto">$430</div>
                                </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            <article class="articulo-productos">
                                <a href="/producto">
                                    <img class="imagen-producto" src="/img/manteca 1.jpg">
                                    <div class="detalles-producto"></div>
                                    <div class="nombre-producto">Manteca Ciudad del Lago</div>
                                    <div class="descripcion-producto">Manteca CIUDAD DEL LAGO 200 Gr</div>
                                    <div class="precio-producto">$149</div>
                                   </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            </div>
                            <div class="articulosx2-derecha">
                                <article class="articulo-productos">
                                    <a href="/producto">
                                     <img class="imagen-producto" src="/img/manteca 2.jpg">
                                     <div class="detalles-producto"></div>
                                     <div class="nombre-producto">Manteca Primer Premio</div>
                                     <div class="descripcion-producto">Manteca PRIMER PREMIO 200 Gr</div>
                                     <div class="precio-producto">$175</div>
                                    </a>
                                    <button class="agregar-carrito-boton">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span>Agregar al carrito</span>
                                    </button>
                                </article>
                                <article class="articulo-productos">
                                    <a href="/producto">
                                     <img class="imagen-producto" src="/img/manteca 3.jpg">
                                     <div class="detalles-producto"></div>
                                     <div class="nombre-producto">Manteca La Serenísima</div>
                                     <div class="descripcion-producto">Manteca Multivitaminas LA SERENISIMA 100gr</div>
                                     <div class="precio-producto">$145</div>
                                    </a>
                                    <button class="agregar-carrito-boton">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span>Agregar al carrito</span>
                                    </button>
                                </article>
                                </div>
                            </div>
                            <div class="articulosx4">
                                <div class="articulosx2-izquierda">
                                    <article class="articulo-productos">
                                        <a href="/producto">
                                         <img class="imagen-producto" src="/img/manteca 4.jpg">
                                         <div class="detalles-producto"></div>
                                         <div class="nombre-producto">Manteca La Serenísima</div>
                                         <div class="descripcion-producto">Manteca Light La Serenisima Pan 200 Grm</div>
                                         <div class="precio-producto">$325</div>
                                        </a>
                                        <button class="agregar-carrito-boton">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Agregar al carrito</span>
                                        </button>
                                    </article>
                                    <article class="articulo-productos">
                                        <a href="/producto">
                                         <img class="imagen-producto" src="/img/crema 1.jpg">
                                         <div class="detalles-producto"></div>
                                         <div class="nombre-producto">Crema de Leche La Paulina</div>
                                         <div class="descripcion-producto">Crema De Leche LA PAULINA 350 CC</div>
                                         <div class="precio-producto">$225</div>
                                        </a>
                                        <button class="agregar-carrito-boton">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Agregar al carrito</span>
                                        </button>
                
                                    </article>
                                    </div>
                                    <div class="articulosx2-derecha">
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                             <img class="imagen-producto" src="/img/crema 2.jpg">
                                             <div class="detalles-producto"></div>
                                             <div class="nombre-producto">Crema de Leche Milkaut</div>
                                             <div class="descripcion-producto">Crema Leche . Milkaut Pot 330 Cmq</div>
                                             <div class="precio-producto">$230</div>
                                            </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                                        </article>
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                                <img class="imagen-producto" src="/img/crema 3.jpg">
                                                <div class="detalles-producto"></div>
                                                <div class="nombre-producto">Crema de Leche Tregar</div>
                                                <div class="descripcion-producto">Crema Leche Doble Tregar Pot 350 Grm</div>
                                                <div class="precio-producto">$230</div>
                                               </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                                        </article>
                                        </div>
                                </div>
                                <div class="articulosx4">
                                    <div class="articulosx2-izquierda">
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                             <img class="imagen-producto" src="/img/postre 1.jpg">
                                             <div class="detalles-producto"></div>
                                             <div class="nombre-producto">Postre Serenito Rocklets</div>
                                             <div class="descripcion-producto">Postre Sabor Vainilla Con Rocklets Serenito Pot 120 Grm</div>
                                             <div class="precio-producto">$305</div>
                                            </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                                        </article>
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                             <img class="imagen-producto" src="/img/postre 2.jpg">
                                             <div class="detalles-producto"></div>
                                             <div class="nombre-producto">Postre Serenito Choco Bombas</div>
                                             <div class="descripcion-producto">Postre Sabor Vainilla Con Choco Bombas Serenito Pot 118 Grm</div>
                                             <div class="precio-producto">$305</div>
                                            </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                    
                                        </article>
                                        </div>
                                        <div class="articulosx2-derecha">
                                            <article class="articulo-productos">
                                                <a href="/producto">
                                                 <img class="imagen-producto" src="/img/postre 3.jpg">
                                                 <div class="detalles-producto"></div>
                                                 <div class="nombre-producto">Postre Ser</div>
                                                 <div class="descripcion-producto">Postre Sab.Dulce D/Le Ser Pot 100 Grm</div>
                                                 <div class="precio-producto">$130</div>
                                                </a>
                                                <button class="agregar-carrito-boton">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                    <span>Agregar al carrito</span>
                                                </button>
                                            </article>
                                            <article class="articulo-productos">
                                                <a href="/producto">
                                                    <img class="imagen-producto" src="/img/postre 4.jpg">
                                                    <div class="detalles-producto"></div>
                                                    <div class="nombre-producto">Postre Ser</div>
                                                    <div class="descripcion-producto">Postre Sab.Vainilla Ser Pot 100 Grm</div>
                                                    <div class="precio-producto">$130</div>
                                                   </a>
                                                <button class="agregar-carrito-boton">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                    <span>Agregar al carrito</span>
                                                </button>
                                            </article>
                                            </div>
                                    </div>
        
    </section>
    <section class="conjunto-articulos-barra-categorias">
        <nav class="barra-categorias">
            <ul class="lista-categorias">
                <a href="/all-products"><div class="all"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
                <a href="/almacen"><div class="catego"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
                <a href="/bebidas"><div class="catego"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
                <a href="/bebidas-con-alcohol"><div class="catego"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
                <a href="/carnes"><div class="catego"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
                <a href="/higiene"><div class="catego"><i class="fa-solid fa-soap"></i>Higiene</div></a>
                <a href="/lacteos"><div class="catego"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
                <a href="/limpieza"><div class="catego"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
                <a href="/verduleria"><div class="catego-verdu"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
            </ul>
        </nav>
    </section>
</main>


<footer>


</footer>

</body>
</html>