<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/sections-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Verdulería - SmartMarket</title>
</head>
<body>
<header>
    <div class="elementos-header">
        <div class="box-logo-principal"><img src="./img/SMART MARKET_logo sin fondo.png" class="logo-principal"></div>
        <p class="ubicacion-pestaña">VERDULERÍA</p>
    <nav class="nav-menu">
        <button class="boton-menu" onclick="actionMenu()"><i class="fa-solid fa-bars"></i></button>
        
            <a class="enlaces-menu" href="/home"><i class="fa-solid fa-house"></i> HOME</a>
            <a class="enlaces-menu" href="/categories"><i class="fa-solid fa-tag"></i>CATEGORÍAS</a>
            <a class="enlaces-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a>
            <a class="enlaces-menu" href="/perfil"><i class="fa-solid fa-user"></i>MI PERFIL</a>
        
    </nav>
    <nav class="nav-barra-menu">
            <a class="enlaces-barra-menu" href="/home"><i class="fa-solid fa-house"></i><div>HOME</div></a>
            <a class="enlaces-barra-menu" href="/categories"><i class="fa-solid fa-tag"></i><div>CATEGORÍAS</div></a>
            <a class="enlaces-barra-menu" href="/carrito"><i class="fa-solid fa-cart-shopping"></i><div>CARRITO</div></a>
            <a class="enlaces-barra-menu" href="/perfil"><i class="fa-solid fa-user"></i><div>MI PERFIL</div></a>
    </nav>
    
    </div>
</header>

<main>
<div>
    <a href="/categories">
      <button class="boton-categorias"> Todas las categorías
        <div class="icono-boton-categorias">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </a>
</div>
    <section class="conjunto-articulos-productos">
        <div class="articulosx4">
        <div class="articulosx2-izquierda">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/banana.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Banana</div>
             <div class="descripcion-producto">Banana Cavendish Xkg</div>
             <div class="precio-producto">$150</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/manzana 1.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Manzana Verde</div>
             <div class="descripcion-producto">Manzana.G.Smith . Xkg</div>
             <div class="precio-producto">$310</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
        <div class="articulosx2-derecha">
        <article class="articulo-productos">
            <a href="/producto">
             <img class="imagen-producto" src="/img/manzana 2.jpg">
             <div class="detalles-producto"></div>
             <div class="nombre-producto">Manzana Roja</div>
             <div class="descripcion-producto">Manzana Royal Gala Xkg</div>
             <div class="precio-producto">$230</div>
            </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        <article class="articulo-productos">
            <a href="/producto">
                <img class="imagen-producto" src="/img/naranja.jpg">
                <div class="detalles-producto"></div>
                <div class="nombre-producto">Naranja</div>
                <div class="descripcion-producto">Naranja Ombl. . Xkg</div>
                <div class="precio-producto">$159</div>
               </a>
            <button class="agregar-carrito-boton">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Agregar al carrito</span>
            </button>
        </article>
        </div>
    </div>
    <div class="articulosx4">
        <div class="articulosx2-izquierda">
            <article class="articulo-productos">
                <a href="/producto">
                 <img class="imagen-producto" src="/img/frutilla.jpg">
                 <div class="detalles-producto"></div>
                 <div class="nombre-producto">Frutilla</div>
                 <div class="descripcion-producto">Frutillas X 250 Gr</div>
                 <div class="precio-producto">$280</div>
                </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            <article class="articulo-productos">
                <a href="/producto">
                    <img class="imagen-producto" src="/img/kiwi.jpg">
                    <div class="detalles-producto"></div>
                    <div class="nombre-producto">Kiwi</div>
                    <div class="descripcion-producto">iwi Selección X Kg</div>
                    <div class="precio-producto">$630</div>
                   </a>
                <button class="agregar-carrito-boton">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Agregar al carrito</span>
                </button>
            </article>
            </div>
            <div class="articulosx2-derecha">
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/limon.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Limón</div>
                     <div class="descripcion-producto">Limon Bolsita Xkg</div>
                     <div class="precio-producto">$145</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                <article class="articulo-productos">
                    <a href="/producto">
                     <img class="imagen-producto" src="/img/anana.jpg">
                     <div class="detalles-producto"></div>
                     <div class="nombre-producto">Piña</div>
                     <div class="descripcion-producto">Pina X Kg</div>
                     <div class="precio-producto">$205</div>
                    </a>
                    <button class="agregar-carrito-boton">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Agregar al carrito</span>
                    </button>
                </article>
                </div>
            </div>
            <div class="articulosx4">
                <div class="articulosx2-izquierda">
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/ciruela.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Ciruela</div>
                         <div class="descripcion-producto">Ciruela X Kg</div>
                         <div class="precio-producto">$225</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>
                    </article>
                    <article class="articulo-productos">
                        <a href="/producto">
                         <img class="imagen-producto" src="/img/pera.jpg">
                         <div class="detalles-producto"></div>
                         <div class="nombre-producto">Pera</div>
                         <div class="descripcion-producto">Pera Packams X Kg</div>
                         <div class="precio-producto">$195</div>
                        </a>
                        <button class="agregar-carrito-boton">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Agregar al carrito</span>
                        </button>

                    </article>
                    </div>
                    <div class="articulosx2-derecha">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/uva.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Uva</div>
                             <div class="descripcion-producto">Uva Red Globe Xkg</div>
                             <div class="precio-producto">$272</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                                <img class="imagen-producto" src="/img/mandarina.jpg">
                                <div class="detalles-producto"></div>
                                <div class="nombre-producto">Mandarina</div>
                                <div class="descripcion-producto">Mandarina Nova X Kg</div>
                                <div class="precio-producto">$65</div>
                               </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        </div>
                </div>
                <div class="articulosx4">
                    <div class="articulosx2-izquierda">
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/palta.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Palta</div>
                             <div class="descripcion-producto">Palta Hass Xkg</div>
                             <div class="precio-producto">$625</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
                        </article>
                        <article class="articulo-productos">
                            <a href="/producto">
                             <img class="imagen-producto" src="/img/tomate.jpg">
                             <div class="detalles-producto"></div>
                             <div class="nombre-producto">Tomate</div>
                             <div class="descripcion-producto">Tomate Larga Vida Racimo X Kg</div>
                             <div class="precio-producto">$665</div>
                            </a>
                            <button class="agregar-carrito-boton">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Agregar al carrito</span>
                            </button>
    
                        </article>
                        </div>
                        <div class="articulosx2-derecha">
                            <article class="articulo-productos">
                                <a href="/producto">
                                 <img class="imagen-producto" src="/img/zapallo.jpg">
                                 <div class="detalles-producto"></div>
                                 <div class="nombre-producto">Zapallo</div>
                                 <div class="descripcion-producto">Zapallo Anco Batata X Kg 1 Kgm</div>
                                 <div class="precio-producto">$80</div>
                                </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            <article class="articulo-productos">
                                <a href="/producto">
                                    <img class="imagen-producto" src="/img/zapallo 2.jpg">
                                    <div class="detalles-producto"></div>
                                    <div class="nombre-producto">Zapallo</div>
                                    <div class="descripcion-producto">Zapallo Anco En Rodajas Las Parchit Bja 350 Grm</div>
                                    <div class="precio-producto">$130</div>
                                   </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            </div>
                    </div>
                    <div class="articulosx4">
                        <div class="articulosx2-izquierda">
                            <article class="articulo-productos">
                                <a href="/producto">
                                 <img class="imagen-producto" src="/img/cebolla.jpg">
                                 <div class="detalles-producto"></div>
                                 <div class="nombre-producto">Cebolla</div>
                                 <div class="descripcion-producto">Cebolla Seleccionada En Bolsita X Kg</div>
                                 <div class="precio-producto">$140</div>
                                </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            <article class="articulo-productos">
                                <a href="/producto">
                                    <img class="imagen-producto" src="/img/cebolla ver.jpg">
                                    <div class="detalles-producto"></div>
                                    <div class="nombre-producto">Cebolla de Verdeo</div>
                                    <div class="descripcion-producto">Cebolla De Verdeo X Uni</div>
                                    <div class="precio-producto">$130</div>
                                   </a>
                                <button class="agregar-carrito-boton">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Agregar al carrito</span>
                                </button>
                            </article>
                            </div>
                            <div class="articulosx2-derecha">
                                <article class="articulo-productos">
                                    <a href="/producto">
                                     <img class="imagen-producto" src="/img/zanahoria.jpg">
                                     <div class="detalles-producto"></div>
                                     <div class="nombre-producto">Zanahoria</div>
                                     <div class="descripcion-producto">Zanahoria Bolsita X Kg</div>
                                     <div class="precio-producto">$205</div>
                                    </a>
                                    <button class="agregar-carrito-boton">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span>Agregar al carrito</span>
                                    </button>
                                </article>
                                <article class="articulo-productos">
                                    <a href="/producto">
                                     <img class="imagen-producto" src="/img/lechuga.jpg">
                                     <div class="detalles-producto"></div>
                                     <div class="nombre-producto">Lechuga</div>
                                     <div class="descripcion-producto">Lechuga Francesa X Kg</div>
                                     <div class="precio-producto">$345</div>
                                    </a>
                                    <button class="agregar-carrito-boton">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span>Agregar al carrito</span>
                                    </button>
                                </article>
                                </div>
                            </div>
                            <div class="articulosx4">
                                <div class="articulosx2-izquierda">
                                    <article class="articulo-productos">
                                        <a href="/producto">
                                         <img class="imagen-producto" src="/img/lechuga 2.jpg">
                                         <div class="detalles-producto"></div>
                                         <div class="nombre-producto">Lechuga</div>
                                         <div class="descripcion-producto">Lechuga Capuchina X Kg</div>
                                         <div class="precio-producto">$330</div>
                                        </a>
                                        <button class="agregar-carrito-boton">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Agregar al carrito</span>
                                        </button>
                                    </article>
                                    <article class="articulo-productos">
                                        <a href="/producto">
                                            <img class="imagen-producto" src="/img/batata.jpg">
                                            <div class="detalles-producto"></div>
                                            <div class="nombre-producto">Batata</div>
                                            <div class="descripcion-producto">Batata Xkg Xkg</div>
                                            <div class="precio-producto">$90</div>
                                           </a>
                                        <button class="agregar-carrito-boton">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>Agregar al carrito</span>
                                        </button>
                                    </article>
                                    </div>
                                    <div class="articulosx2-derecha">
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                             <img class="imagen-producto" src="/img/papa bl.jpg">
                                             <div class="detalles-producto"></div>
                                             <div class="nombre-producto">Papa</div>
                                             <div class="descripcion-producto">Papa Blanca Bolsa X 2 Kg</div>
                                             <div class="precio-producto">$145</div>
                                            </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                                        </article>
                                        <article class="articulo-productos">
                                            <a href="/producto">
                                             <img class="imagen-producto" src="/img/papa neg.jpg">
                                             <div class="detalles-producto"></div>
                                             <div class="nombre-producto">Papa</div>
                                             <div class="descripcion-producto">Papa Negra Selec Xkg</div>
                                             <div class="precio-producto">$78</div>
                                            </a>
                                            <button class="agregar-carrito-boton">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                <span>Agregar al carrito</span>
                                            </button>
                                        </article>
                                        </div>
                                    </div>
        
    </section>
    <section class="conjunto-articulos-barra-categorias">
        <nav class="barra-categorias">
            <ul class="lista-categorias">
                <a href="/all-products"><div class="all"><i class="fa-solid fa-store"></i>Todos los productos</div></a>
                <a href="/almacen"><div class="catego"><i class="fa-solid fa-basket-shopping"></i>Almacén</div></a>
                <a href="/bebidas"><div class="catego"><i class="fa-solid fa-bottle-droplet"></i>Bebidas</div></a>
                <a href="/bebidas-con-alcohol"><div class="catego"><i class="fa-solid fa-wine-glass"></i>Bebidas con alcohol</div></a>
                <a href="/carnes"><div class="catego"><i class="fa-solid fa-drumstick-bite"></i></i>Carnicería</div></a>
                <a href="/higiene"><div class="catego"><i class="fa-solid fa-soap"></i>Higiene</div></a>
                <a href="/lacteos"><div class="catego"><i class="fa-solid fa-cheese"></i></i>Lácteos</div></a>
                <a href="/limpieza"><div class="catego"><i class="fa-solid fa-broom"></i>Limpieza</div></a>
                <a href="/verduleria"><div class="catego-verdu"><i class="fa-solid fa-carrot"></i>Verdulería</div></a>
            </ul>
        </nav>
    </section>
</main>


<footer>


</footer>

</body>
</html>